{%- unless settings.cart_drawer_enabled == false -%}
<aside class="cart-drawer" id="CartDrawer" aria-label="{{ 'sections.cart.title' | t }}">
  <div class="cart-drawer__header">
    <h2 class="cart-drawer__title">{{ 'sections.cart.title' | t }}</h2>
    <button type="button" class="header-icon-btn" data-cart-close aria-label="{{ 'general.close' | t }}">
      {% render 'icon', icon: 'close', size: 22 %}
    </button>
  </div>

  <div data-cart-drawer-refresh>
    {% render 'cart-drawer-body' %}
  </div>
</aside>
{%- endunless -%}
