<div class="quick-view" data-quick-view-modal hidden>
  <div class="quick-view__panel">
    <button type="button" class="header-icon-btn" data-quick-view-close style="position:absolute;top:1rem;inset-inline-end:1rem;z-index:2" aria-label="{{ 'general.close' | t }}">
      {% render 'icon', icon: 'close', size: 22 %}
    </button>
    <div class="quick-view__body" style="padding:2rem"></div>
  </div>
</div>
