{%- if section.settings.show_announcement -%}
<div class="announcement-bar" role="region" aria-label="Announcement">
  {%- if section.settings.text != blank -%}
    <p>{{ section.settings.text }}</p>
  {%- else -%}
    <p>{{ 'sections.header.announcement' | t: amount: settings.free_shipping_threshold | money }}</p>
  {%- endif -%}
</div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "tag": "section",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text"
    }
  ]
}
{% endschema %}
