<section class="section">
  <div class="container" style="max-width:800px">
    <h1 class="h1" style="margin-bottom:var(--space-md)">{{ page.title }}</h1>
    <div class="rte text-muted">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{ "name": "Page", "tag": "section" }
{% endschema %}
