<section class="section cart-page" data-cart-page>
  <div class="container cart-page__container">
    <h1 class="h2 cart-page__title">{{ 'sections.cart.title' | t }}</h1>

    <div data-cart-page-refresh>
      {% render 'cart-page-body' %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "section-main-cart"
}
{% endschema %}
